---
import addSongLaptop from "../../public/laptopHome.png?url";
import reactIco from "../../public/icons/react.png?url";
import tsIco from "../../public/icons/typescript.png?url";
import electronIco from "../../public/icons/electronjs.png?url";
import mongoIco from "../../public/icons/mongodb.png?url";
import cssIco from "../../public/icons/css.png?url";
import fastApiIco from "../../public/icons/fastapi.png?url";
import boostrapIco from "../../public/icons/boostrap.png?url";
import miuIco from "../../public/icons/materialui.png?url";
import gaIco from "../../public/icons/github_actions.png?url";
import pyIco from "../../public/icons/python.png?url";


---


<header>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
            <div
                class="d-flex align-items-center flex-column"
                style="margin-bottom: 3rem !important; margin-top: 1rem;"
            >
                <h1>
                    Welcome to <span
                        class="text-gradient"
                        style="white-space: nowrap;"
                        >Spotify Electron</span
                    >
                </h1>
                <h4 style="color:#adaaaa">Made by Antonio Martínez</h4>
            </div>
            <div
                class="d-flex align-items-center justify-content-center"
            >
                <a href="#goals">
                    <button class="my-btn"
                        ><p style="margin: 0 !important;">
                            Get started
                        </p></button
                    >
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img class="img-fluid" src={addSongLaptop} alt="" />
        </div>
    </div>

    <div
        class="d-flex flex-column justify-content-center align-items-center"
        style="height: 100%"
    >
        <div
            class="d-flex justify-content-center tech-wrapper"
            style="border-bottom: 1px solid var(--app-logo-color);padding: 1%;"
        >
            <img class="tech-ico" src={reactIco} alt="react icon" />
            <img class="tech-ico" src={tsIco} alt="typescript icon" />
            <img class="tech-ico" src={electronIco} alt=" icon" />
            <img class="tech-ico" src={mongoIco} alt=" icon" />
            <img class="tech-ico" src={cssIco} alt=" icon" />
            <img class="tech-ico" src={pyIco} alt=" icon" />
            <img class="tech-ico" src={fastApiIco} alt=" iconicon" />
            <img class="tech-ico" src={boostrapIco} alt=" icon" />
            <img class="tech-ico" src={miuIco} alt=" icon" />
            <img
                class="tech-ico"
                src={gaIco}
                alt=""
            />
        </div>
    </div>
</header>


<style>

header {
        margin: auto !important;
        max-width: 80rem !important;
        color: white !important;
        font-size: 20px !important;
        line-height: 1.6 !important;
        margin-bottom: 6rem !important;
        margin-top: 3rem !important;
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    h1 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }

    
    .my-btn {
        border: none;
        background-color: var(--app-logo-color-darker);
        border-radius: 8px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        border-radius: 9999px;
        font-weight: 600;
        color: white;
    }

    .my-btn:hover {
        filter: brightness(0.75);
    }

    .tech-ico {
        width: 32px !important;
        margin: 0 10px 0 10px !important;
    }

    .tech-ico:hover{
        transition: transform 0.1s; /* Add a transition on the transform property */
        transform: scale(1.2);
    }
    
</style>