---


const {icon} = Astro.props;
const {title} = Astro.props;
const {text} = Astro.props;

---

<div class="tech-card">

    <div class="img-wrapper">
        <img src={icon} alt="">
    </div>

    <div class="header-wrapper">

        <div class="main-text">
            {title}
        </div>
        <div class="secondary-text">
            {text}
        </div>

    </div>

</div>



<style>

    .tech-card{

        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid var(--spacer);
        background-color: var(--dark-filler);
         
    }

    .main-text{

        font-size: 2rem;
        font-weight: 600;
    }

    .secondary-text{

        color: var(--subheader-text);
    }

    .img-wrapper img{

        width: 48px;
        height: 48px;
    }


</style>